<!DOCTYPE html>
<html lang="cs">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" 
        href="{{url_for('static', filename='styles.css')}}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{url_for('index')}}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link {% block active_info %}{% endblock %}" href="{{url_for('info')}}">Info</a>
        <a class="nav-link {% block active_kvetak %}{% endblock %}" href="{{url_for('kvetak')}}">Květák</a>
        <a class="nav-link {% block active_kapusta %}{% endblock %}" href="{{url_for('kapusta')}}">Kapusta</a>
        <a class="nav-link {% block active_banany %}{% endblock %}" href="{{url_for('banany')}}">Banány</a>
        <a class="nav-link {% block active_shortener %}{% endblock %}" href="{{url_for('shortener')}}">Zkracovač</a>


        
      </div>
      
    </div>
    {% if session["user"]%}
    <a class="text-right white no-hover">{{session['user']}}</a>
    <a class="text-right white ml-20" href="{{url_for('logout')}}">Logout</a>
    {% else %}
    <a class="text-right white" href="{{url_for('register')}}">Registrace</a>
    <a class="text-right white ml-20" href="{{url_for('login')}}">Login</a>
    {% endif %}
  </nav>

<div class="container">
  {% block obsah %}
  <iframe class="container mt-5 mb-5 d-flex justify-content-center" width="560" height="600" src="https://www.youtube.com/embed/vHDNQe8qrss?autoplay=1" frameborder="0" gesture="media" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  {% endblock obsah%}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='scripts/copyToClipboard.js')}}" ></script>
</body></html>