{% extends "base.html.j2" %}

{% block active_info %}active{% endblock %}

{% block obsah %}

<p class="mt-5">
    Molestie lobortis himenaeos est per ornare justo. Eleifend laoreet at praesent orci suspendisse mattis pellentesque purus fringilla. Penatibus odio rutrum congue libero quis suspendisse condimentum vehicula non! Dis elit nisi lobortis dis maecenas fusce nascetur feugiat senectus pretium. Auctor mi torquent elementum himenaeos, quisque hendrerit mauris. Tortor massa lacus aenean platea quam risus mauris quisque turpis ut molestie sem. Class imperdiet consectetur sem senectus quis? Hendrerit at cras montes ridiculus mi ultricies quam faucibus taciti tempor metus elementum. Tincidunt aliquet mattis quis aliquam condimentum at aptent?
    </p>
    <p>
    Quam euismod purus himenaeos enim nostra. Et habitasse mi phasellus sociis luctus quam. Auctor dolor urna senectus facilisi et erat neque velit potenti. Sapien eleifend justo orci cum consectetur ut condimentum. Adipiscing conubia laoreet sapien parturient praesent suscipit justo cursus ipsum risus amet. Pretium ridiculus lorem vitae sit netus ipsum aliquam vehicula suspendisse! Ultrices facilisis, urna velit ultrices phasellus. Lacinia accumsan aliquam mus velit.
    </p>
    <p>
    Leo arcu porttitor curae; dui, mauris class taciti laoreet. Eleifend congue placerat aenean amet mollis turpis ultricies risus maecenas ac sapien ante. Vivamus enim integer nibh quis metus quis conubia dolor felis. Cursus iaculis proin per class facilisi velit fringilla. Leo pretium viverra quis litora amet quisque commodo sed nunc et etiam. Viverra magna.
    </p>
    <p>
    Himenaeos molestie posuere sagittis netus conubia elit cum morbi natoque mauris sociis nibh? Nostra venenatis vel donec tellus netus iaculis proin tristique, cubilia sociosqu luctus fermentum. Elementum per sociis nibh erat pharetra imperdiet himenaeos molestie dolor sit. Pharetra sed nunc id magnis donec. Odio torquent iaculis duis congue facilisis. Vulputate cum molestie congue dictumst tincidunt nam metus. Suspendisse purus.
    </p>
    <p>
    Ligula mi netus nulla magna porta ac facilisi accumsan netus porta? Condimentum nec duis facilisis posuere proin, dis massa cubilia. Tellus nisi condimentum ipsum inceptos eget gravida neque. Gravida quisque sodales ad facilisis fusce aliquam ornare mi mus phasellus id aptent? Nostra dolor bibendum lacinia tellus ultrices, consequat risus. Cras risus pretium curae; mollis commodo id congue quis gravida lacinia fermentum.
    </p>
<h3>Převraceč vět</h3>
<form action="{{url_for('info')}}" method="POST">
    <input class="form-control" type="text" name="text">
    <input class="btn btn-primary mt-2" type="submit" value="Submit">
</form>
<h3 class="mt-2">
{{reversed_text}}

</h3>

{% endblock obsah %}

