{% extends "base.html.j2" %}

{% block active_kapusta %}active{% endblock %}

{% block obsah %}

<h1 class="center mt-3">Kapusta</h1>

<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card" style="width: 66rem;">
        <img src="{{url_for('static', filename='kapusta.jpg')}}" class="card-img-top" alt="bannanas">
        <div class="card-body">
        <p class="card-text">Kapusta neboli brukev je české označení pro několik druhů dvouleté košťálové zeleniny. První zmínky z historie kapusty jsou ze středozemní kultury. Kapustu pěstovali již Egypťané, kteří znali jednoduché druhy kapusty. Dále se pak v historii lidstva kapusta objevuje koncem středověku. V 16. a 17. století už se vědělo o kapustě a jejích blahodárných účincích na lidský organismus. V té době už se odrůdy podobaly těm dnešním. V novověku se hojně začala kapusta pěstovat a šlechtit. Nejvíce podobná starým odrůdám je dnešní kapusta hlávková. V dnešní době je pěstování rozšířené po celém světě, nejvíce však v Evropě.</p>
        <p class="card-text">Obsahuje vitamín B1, B2, B3, B9 (kyselina listová), vitamin C, vitamin E, vitamin K, vápník, hořčík, selen, fosfor, draslík, síra, železo a v neposlední řadě sodík.</p>
        </div>
  </div>
</div>
{% endblock obsah %}

