{% extends "base.html.j2" %}

{% block active_kvetak %}active{% endblock %}

{% block obsah %}

<h1 class="center mt-3">Květák</h1>

<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card" style="width: 66rem;">
        <img src="{{url_for('static', filename='kvetak.jpg')}}" class="card-img-top" alt="bannanas">
        <div class="card-body">
        <p class="card-text">Květák neboli lidově karfiol (Brassica oleracea convar. botrytis) je oblíbenou košťálovou zeleninou, kterou člověk získal vyšlechtěním divoké brukve zelné (stejně jako např. kedluben, zelí či kapustu). V případě květáku využíváme jako zeleninu zdužnatělé květenství. Patří mezi jednoleté rostliny.</p>
        <p class="card-text">Úspěšné pěstování květáku závisí kromě fyzikálních podmínek především na výsevu konkrétní odrůdy ve správnou dobu. Podle období sklizně rozdělujeme odrůdy květáku na zimní, rané, letní a letně podzimní. Předpěstování provádíme ve sklenících (pařeništích), je tudíž třeba před výsadbou na volnou plochu sazenice otužit. Pokud kupujeme sazenice v zahradnictví či květinářství, měly by být již řádně otužené. Květák potřebuje především pravidelné zalévání po celé vegetační období. Pokud je sucho, zaléváme min. jednou za 14 dní dávkou 22 l/1 m čtverečný osazené plochy. Žloutnutí bílých růžic v důsledku přílišného osvětlení můžeme předejít svázáním listů nad růžicí. Při pěstování květáku v boji proti škůdcům lze dobře využít netkanou biotextilii, kterou zakrýváme celý vysazený, resp. vysetý záhon. Tento kryt zajistí nejen ochranu proti škůdcům, ale chrání rostliny též před vysycháním i před ranními jarními mrazíky a všeobecně kolísání teplot.</p>
    </div>
  </div>
</div>
{% endblock obsah %}

