{% extends "base.html.j2" %}
{% block obsah %}
Shorts are comming soon.... <br>
Magna aute dolor esse ex tempor laborum aliqua duis. <br>
Pariatur duis incididunt amet ipsum id elit excepteur cupidatat cillum ex aliquip elit.
{% endblock obsah %}
