{% extends "base.html.j2" %}




{% block obsah %}
<div class="container">
<h2 class="text-center mt-5">login</h2>
<div class="form-login mt-5 ">
<form action="{{url_for('login')}}" method="POST">
    <div class="form-group">
    <label for="username">Jméno</label>
    <input class="form-control" type="text" id="username" name="username"><br>
    <label for="password">Heslo</label>
    <input class="form-control" type="password" id="password" name="password"><br>
    <input type="hidden" value="{{url}}" name="url" />
    <input class="btn btn-primary" type="Submit" value="Submit">
</div>
</form>
<p>Ještě nemáte účet? <a href="{{url_for('register')}}">regsitrujte se</a></p>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>
</div>
{% endblock obsah %}
