{% extends "base.html.j2" %}
{% block obsah %}
<h1 class="center">MOTO MOTO</h1>
<iframe class="container mt-5 mb-5 d-flex justify-content-center" width="800" height="800" src="https://www.youtube.com/embed/Oie86TIdaCs?autoplay=1&mute=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
{% endblock obsah %}